@import '~variables.scss';

.dropdown {
  display: inline;
}
.add-btn {
  background: none;
  border: none;
  color: $astral;
}
.items-row {
  padding-top: 10px;
  padding-bottom: 10px;
}
input{
  width: 80%;
}
.btn-dropdown {
  background: none;
  border: 1px solid $astral;
  border-radius: 0;
  color: $astral;
  width: 80%;
}
.dropdown-menu {
  width: 80%;
  border-radius: 0;
  color: $astral;
}
.dropdown-menu>li>a {
  color: $astral;
}
