<div class="col-md-6">
  <div class="row">
    <div class="col-md-4">
      Teachers:
    </div>
    <div class="col-md-8">
      <div class="dropdown" [hidden]=hiddenListTeachers>
        <div class="row">

          <div class="col-md-7">
            <select class="form-control" name="company" [(ngModel)]="selectedTeacher">
              <option  *ngFor="let teacher of teachers" [value]="teacher">
                {{teacher}}
              </option>
            </select>
          </div>

          <div class="col-md-2">
            <button type="button" class="btn btn-default btn-sm button-ok" aria-label="Left Align" (click)="showSelectedTeachers()">
              <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
            </button>
          </div>

          <div class="col-md-2">
            <button type="button" class="btn btn-default btn-sm button-cancel" aria-label="Left Align">
              <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </button>
          </div>
        </div>    
      </div>
      <div class="selected-teacher" [hidden]=hiddenTeacher>
        {{selectedTeacher}}
      </div>               
      <button type="button" class="add-btn" [hidden]=!hiddenListTeachers (click)="addTeacher()" >
        + one more teacher
      </button>
    </div>
  </div>
</div>
