@import '~variables.scss';

.teacher {
   padding-right: 20px;
}

.add-teacher {
   cursor: pointer;
   color: $astral;
}

.list-of-selected-teachers {
	list-style: none;
	padding: 0;
}

.save-teacher, .remove-teacher, .remove-dropdown {
   font-size: 1.8em;
   cursor: pointer;
   color: $astral;
}

.save-teacher, .remove-dropdown {
   padding-top: 5px;
}

.button-dropdown-teacher {
  background: none;
  border: 1px solid $astral;
  border-radius: 0;
  color: $astral;
}

.dropdown-teacher {
  border-radius: 0;
  color: $astral;
}

  .dropdown-item {
  padding-left: 25px;
  cursor: pointer;
  color: $astral;
}