<div class="row">
    <div class="col-md-6">
        <h3>Group coordination:</h3>
        <table class="table table-bordered">
        	<thead>
                <tr>
                    <th class="active"></th>
                    <th class="active"></th>
                </tr>	
        	</thead>
        	<tbody>
                <tr>
                    <td>Teacher</td>
                    <td>
                        <ul>
                            <li *ngFor="let teacher of teachers">
                                {{ teacher.firstName }} {{ teacher.lastName }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Expert</td>
                    <td>
                        <ul>
                            <li *ngFor="let expert of group.experts">
                                {{ expert }}
                            </li>
                        </ul>
                    </td>
                </tr>
        	</tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Group info:</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="active"></th>
                    <th class="active"></th>
                </tr>                    	
            </thead>
            <tbody>
                <tr>
                    <td>Date start:</td>
                    <td>{{ group.startDate }}</td>
                </tr>
                <tr>
                    <td>Date finish:</td>
                    <td>{{ group.finishDate }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>