<div class="col-md-3 group-list-container">
  <div class="row">
    <div class="col-md-12" *ngIf="groupsQuantity > itemsPerPage">
      <caesar-pager [currentPage]="currentPage" [itemsQuantity]="groupsQuantity" [itemsPerPage]="itemsPerPage" (pageChange)="onPageChange($event)"></caesar-pager>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href='#'><span class='glyphicon glyphicon-plus search-btn'></span></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" *ngFor="let item of (groups | limitTo : firstItem : lastItem | mathcesProgress : groupStatus )">
      <group-item [group]="item" (contextmenu)="openDeleteDialog($event, item.groupId, item.name)">Group</group-item>
    </div>
  </div>
  <button type="button" [class.active]="myGroupsFilter" class="btn btn-primary btn-lg my-groups" (click)="showMyGroups()"> My groups</button>
  <div class="filter-group-btn">
    <button type="button" class="btn btn-default btn-circle" (click)="changeProgressStatus(GroupProgressStatus['Finished'])">
       <i class="glyphicon glyphicon-ok"  *ngIf="groupStatus == GroupProgressStatus['Finished']"></i>
    </button>
    <button type="button" class="btn btn-default btn-circle" (click)="changeProgressStatus(GroupProgressStatus['Current'])">
       <i class="glyphicon glyphicon-ok"  *ngIf="groupStatus == GroupProgressStatus['Current']"></i>
    </button>
    <button type="button" class="btn btn-default btn-circle" (click)="changeProgressStatus(GroupProgressStatus['Future'])">
       <i class="glyphicon glyphicon-ok"  *ngIf="groupStatus == GroupProgressStatus['Future']"></i>
    </button>
  </div>
</div>
