.groups-container{
    min-height: 500px;
    border: 1px solid black;
    border-radius: 10px;
}


.groups-container .group-item{
    height: 80px;
    background-color: blue;
    margin-bottom: 10px;
    text-align: center;
    color: white;

}