<div class="col-md-7 group-wrapper">
    <div class="row">
        <div class="col-md-6">
            <h1>Dnipro</h1>
        </div>
        <div class="col-md-6 text-right">
            <h1>Dp-094 MQC</h1>
        </div>
    </div>
    <div class="row group-area">
        <div class="row">
            <div class="col-md-2">
                <a>
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-md-10 text-right">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Group coordination</h3>
                <table class="table table-bordered">
                	<thead>
                        <tr>
                          <th class="active"></th>
                          <th class="active"></th>
                        </tr>	
                	</thead>
                	<tbody>
                        <tr>
                          <td>Teacher</td>
                          <td>Oleg Shvets</td>
                        </tr>
                        <tr>
                          <td>Expert</td>
                          <td>Yuriy Osypchuk</td>
                        </tr>
                	</tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h3>Group info</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th class="active"></th>
                          <th class="active"></th>
                        </tr>                    	
                    </thead>
                    <tbody>
                        <tr>
                          <td>Date start:</td>
                          <td>03/07/2013</td>
                        </tr>
                        <tr>
                          <td>Date finish:</td>
                          <td>06/21/2013</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div>Stage: <span>in process</span></div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>