/* You can add global styles to this file, and also import other style files */
html, body {
	height: 100%;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: fit-content;
    margin: 30px auto;
    max-width: 800px;
  }
}
