<div class="bg-primary">Caesar</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 container">
            <div class=" item"> Development & Research </div>
            <div class=" item"> Quality Assuranсe </div>
            <div class=" item"> Management and Mentoring </div>
            <div class=" item"> Additional Thanks</div>
        </div>
        <div class="col-xs-7 container middle-aria"></div>
        <div class="col-xs-2 container"></div>
    </div>
</div>
