:host{
    height: 100px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    background-color: #337ab7;
    color: #fff;
    font-weight: bold;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
}

:host:hover{
    background-color: #7aacd7;
}