@import '~variables.scss';

:host {
  height: 100px;
  display: inline-block;
  text-align: center;
  margin: 10px 0;
  background-color: $astral;
  color: $white-solid;
  font-weight: bold;
  width: 100%;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    background-color: $danube;
  }
}
